<h1 class="title">Buckley</h1>
<p class="subhead">The link shortener.</p>

<form class="shorten_form" action="/shorten" method="POST">
  <input type="text" name="long_url" size="60">
  <input class="buckley" type="submit" value="Buckley Up!">
</form>

<div class="index_links">
<a class="new" href="/new">Create New User</a>
<a class="users" href="/login">User Login</a>
</div>

<div class="recent">
  <h2>Recent Links:</h2>
  <% Link.last(10).each do |link| %>
    <a href="http://<%=link.long_url%>">localhost:9393/<%=link.key%></a><br>
  <% end %>
</div>