<h1 class="title">Login</h1>

<form class="signup" action='/login' method="POST">
  <label>Email:<input type="text" name="email"></label>
  <label>Password:<input type="password" name="password"></label>
  <input type='submit' value='Submit'>
</form>

<p>New user? Sign up <a href="/new">here</a>