<h1 class="title">Sign Up!</h1>

<form class="signup" action='/new' method="POST">
  <label>First Name:<input type="text" name="first_name"></label>
  <label>Last Name:<input type="text" name="last_name"></label>
  <label>Email:<input type="text" name="email"></label>
  <label>Password:<input type="password" name="password"></label>
  <label>Verify Password:<input type="password" name="verify_password"></label>
  <input type='submit' value='Submit'>
</form>